



{% extends "base.html" %}



{% block title %} Payment Details {% endblock %}

{% block body %}
<br>
<br><br>
<br><br>
<br><br>
<br><br>

<br>
<div class="container" style="padding-right: 15px;padding-left: 0px;margin-right: -146px;margin-left: 114px;">
    <div class="well well-sm" style="text-align: center;max-width: 100%;">
    
        <div class="row">
<div class="col-md-5">
    <h2><strong>Payment Details</strong></h2>
    <form style="max-width: 500px" action="checkout" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" name="name" value="" placeholder="Name">
      </div><br>
      <div class="form-group">
        <input type="email" class="form-control" name="email" value="" placeholder="E-mail">
      </div><br>
      <div class="form-group">
        <input type="number" class="form-control" name="number" value="" placeholder="Phone">
      </div><br>
      <div class="form-group">
        <input type="number" class="form-control" name="amount" value="" placeholder="Amount">
      </div><br><div class="form-group">
        <input type="text" class="form-control" name="address" value="" placeholder="Address">
      </div><br>
      <div class="form-group">
        <input type="text"class="form-control" name="state"  placeholder="State">
      </div><br>
      <button class="btn btn-default" type="submit" name="button">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
      </button>
    </form>
  </div>
</div>
</div>
</div>
{% endblock %}